@font-face {
    font-family:"whackamole";
    src: url("../font/HelloWhackAMole.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "whackamole", sans-serif;
}

.gameBg {
    background-image: url('../img/WAM_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.game {
    height: 55%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    height: 25%;
    margin: auto;
    width: 70%;
    padding-top: 1.5em;
}

.score, .health {
    border-radius: 15px;
    border: 4px solid black;
    height: 30px;
}

.score, .health {
    display: flex;
    justify-content: flex-end;
}

.score {
    background: linear-gradient(to right,  rgba(255, 255, 255, 0.8), rgba(0, 0, 255, 0.8));
}

.health {
    background: linear-gradient(
        to right,
        rgba(220, 0, 0, 0.8),
        rgba(255, 255, 0, 0.8),
        rgba(0, 200, 0, 0.8)
    );
}

h5, h4 {
    color: black;
    margin: 0;
    font-weight: 600;
}

.healthAmount {
    justify-content: start;
}

.scoreText, .healthText {
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
}

.statAnnotation {
    width: 5em;
    align-self: flex-end;
}

.statLevel {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.scoreAmount, .healthAmount {
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
    height: 22px;
}

.scoreLevel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.lead {
    margin: 0;
}

.mole {
    height: 20%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.moleSprite {
    width: 128px;
    height: 103px;
}

.welcomeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameTitle {
    text-align: center;
    font-size: 5em;
    font-weight: 600;
}

.welcomeText {
    width: 70%;
    font-size: 1.5em;
    text-align: center;
}

.welcomeText--have-fun {
    text-align: center;
    font-size: 1.2em;
}

.welcomeButtons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-whack {
    background-color: rgb(13, 196, 88);
    border: 2px solid rgb(115, 82, 73);
    font-size: 1.5em;
    border-radius: 8px;
    width: 180px;
}

.btn-howtoplay {
    background-color: rgb(178, 145, 128);
    border: 2px solid rgb(115, 82, 73);
    font-size: 1.5em;
    border-radius: 8px;
    width: 180px;
}

.deadModalHead {
    font-size: 2.5em;
    font-weight: 500;
}

.deadModalBody {
    font-size: 1.75em;
}


